.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    // background-color: lightblue;
    opacity: 0.95;
    color: azure;
    // max-height: 20px;
}

.container:hover {
    cursor: pointer;
    opacity: 1;
    // width: 115%;
}

.container img {
    // width: 100%;
    max-width: 450px;
    max-height: 220px;
    transition: transform 450ms;

}

.container img:hover {
    transform: scale(1.08);
}

.container span {
    font-size: 20px;
    margin-top: 5px;
}

#poster-title {
    font-size: 15px;
}