.body {
    background-color: gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    // height: 80vh;
    height: 100%;

    margin-bottom: 40px;
}

.align {
    display: flex;
    justify-content: space-between;
}

.align h1 {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 3rem;
}

.align h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.align h5 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.text p {
    margin-bottom: 0px;
}

.coverPic img {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 150px;
}

.mainSection {
    display: flex;
    justify-content: space-around;
}

.profilePic {
    align-self: center;
    margin-left: 20px;
}

.profilePic img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
    margin-top: 10px;
}

.text {
    color: whitesmoke;
    align-self: center;
    margin-left: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}

.button {
    background-color: #333;
    border-radius: 25px;
    text-align: center;
    width: 8rem;
    border: 3px solid whitesmoke;
    height: 2.5rem;
    vertical-align: middle;
    line-height: 2.5rem;  
    font-size: 1.5rem;
    color: whitesmoke;
    align-self: center;
    justify-self: flex-end;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    border-color: #333;
    color: lightgray;
}

.new_line {
    white-space: pre-line;
}