.header {
    display: flex;
    justify-content: space-between;
    background-color: #00008B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
}

.header a {
    font-size: 30px;
    text-decoration: none;
    color: azure;
    margin-right: 20px;
}

.header a:hover  {
    color: rgb(0, 157, 255);
    cursor: pointer;
}

.header span {

    margin-left: 20px;
    color: azure;
    font-size: 30px;
}
