@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.particles {
  z-index: -1;
}

.content {
  z-index: 10;
}