.row-background {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;

}

.row-background:last-child {
    padding-bottom: 40px;
}

.row-title {
    color: azure;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px;
    background-color: rgba(240, 255, 255, 0.95);
    border-radius: 20px 20px 0px 0px;
    margin-top: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(240, 255, 255, 0.95);
    background-color: rgba(240, 255, 255, 0.95);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
}