.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

.timeline ul {
    padding: 50px 0;
}

.timeline div {
    margin: 0 auto;
    text-align: center;
    max-width: 1100px;
}

/* Branch Title Div */
.timeline h2 {
    background-color: rgb(47, 47, 250);
    padding: .4Rem 0;
    font-size: 2.3rem;
    border-radius: 20px;
}

.timeline li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: azure
}

.timeline li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background-color: rgb(0, 157, 255);
    transition: all 0.5s ease-in-out;
}

.timeline li div:hover {
    background-color: rgb(0, 120, 194);
}

.timeline li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background-color: azure;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5 ease-in-out;
}

/* Arrows Base */
.cv:before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

/* Right side div */
.timeline ul div:nth-child(odd) div {
    left: 40px;
    border-radius: 20px 20px 20px 0px; 
}

/* Left side div */
.timeline ul div:nth-child(even) div {
    border-radius: 20px 20px 0px 20px; 
    left: -464px;
}

/* Right Side Arrows */
.timeline ul div:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(0, 157, 255) transparent transparent;
}

/* Left Side Arrows */
.timeline ul div:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent rgb(0, 157, 255);
}

/* Branch Title */
.timeline h2 {
    color: azure;
    align-items: center;
}