@import "../src/variables/Variable.scss";

// html {
//   // background-color: $mainColor;
//   background-image: url('https://media1.giphy.com/media/l2v1YQMVH8rEAstMyK/giphy.gif?cid=ecf05e47msi8ans2qtze7ah0vw76g6vwkqken16fo1okdka4&rid=giphy.gif&ct=g');
//   background-size: cover;
// }

body {
  background-image: url('https://i.imgur.com/iPOX337.jpeg');
  background-size: cover;
  height: 100%;
}