@import "../src/variables/Variable.scss";

// html {
//   // background-color: $mainColor;
//   background-image: url('https://media1.giphy.com/media/l2v1YQMVH8rEAstMyK/giphy.gif?cid=ecf05e47msi8ans2qtze7ah0vw76g6vwkqken16fo1okdka4&rid=giphy.gif&ct=g');
//   background-size: cover;
// }

body {
  background-image: url('https://media.istockphoto.com/photos/blue-mesh-gradient-blurred-motion-abstract-background-picture-id1185747322?k=20&m=1185747322&s=612x612&w=0&h=Sy7s4nSTKEbDFY1HRAijhMJVRZd4_9rACOOjkkNa5bs=');
  background-size: cover;
  height: 100%;
}