.row-background {
    margin-left: 40px;
    margin-right: 40px;
}

.row-title {
    color: azure;
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row::-webkit-scrollbar {
    // display: none;
}

// .arrows {
//     align-self: center;
//     margin-right: 5px;
//     color: azure;
//     width: 10rem;
//     height: 2rem;
// }

// .arrows:hover {
//     cursor: pointer;
//     color: lightgray;
// }